<!-- ./views/index.handlebars -->

<!-- search bar -->
<div class="container search-bar mt-4 mx-auto">
  <div class="search-bar-outer ">
    <div class="search-bar-inner">
      <form action="/search">
        <h4 class="mb-2 fw-bold">尋找餐廳：</h4>
        <div class="input-group">

          <!-- 進階搜尋功能 -->
          <select class="rounded mb-1 mr-sm-2 fw-bold fs-5 border-2" name="condition" id="search-condition">
            <option selected>搜尋條件</option>
            <option value="name" {{#if name}}selected{{/if}}>餐廳名稱</option>
            <option value="type" {{#if type}}selected{{/if}}>餐廳類別</option>
          </select>

          <input type="text" name="keyword" class="form-control mb-1 mr-sm-2 fw-bold fs-5 border-3"
            placeholder="輸入餐廳、分類" aria-label="Restaurant Name or rating" value="{{keyword}}"
            aria-describedby=" search-button">

          <div class="input-group-append">
            <button class="form-search btn btn-major mb-1 fw-bold fs-6" type="submit" id="search-button">
              <i class="fas fa-search fa-2x"></i></button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>

<!-- Restaurant list 課程提供卡片的排列樣式寫法有誤class="card-columns"-->
<div class="container mt-5">
  <div class="row">
    <div class="col-md-10 col-12 mx-auto">
      <div class="card-group">

        {{#each stores}}
        <div class="col-md-4 p-2">

          <!-- restaurants 資料庫的編號屬性為 .id -->
          <a href="/stores/{{this.id}}" class="text-secondary">
            <div class="card mb-3">
              <div>
                <img class="card-img-top" src="{{this.image}}" alt="{{this.name}}">
              </div>
              <div class="card-body p-3">
                <h6 class="card-title mb-1">{{this.name}}</h6>

                <div class="restaurant-category mb-1">
                  <i class="fas fa-utensils pr-2 p-1"></i> {{this.category}}
                </div>

                <!-- 課程教材內容與 bootstrap 語法不符，目前@5.2.0版已修訂 Pill badges  -->
                <span class="badge rounded-pill bg-danger font-weight-normal">
                  {{this.rating}} <i class="fas fa-star fa-xs"></i>
                </span>
              </div>
            </div>
          </a>
        </div>
        {{/each}}
      </div>
    </div>
  </div>